[Unit]
Description=Tobacco Pipe Webscraper

[Service]
ExecStart=/usr/local/bin/piped
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
